.app_list {
    margin-top: 32px;
}

.app_list h1{
    font-size: 2rem;
    text-align: left;
    margin-block-end: 1rem;
    margin-block-start: 0;
    text-transform: capitalize;
}

.card {
    display: grid;
    column-gap: 16px;
}

.newappbutton {
    display: grid;
    column-gap: 16px;
}

@media only screen and (max-width:516px) {
    .card{
        grid-template-columns: 1fr;
    }
    .newappbutton{
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width:768px) {
    .card{
        grid-template-columns: 1fr 1fr;
    }
    .newappbutton{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width:1024px) {
    .card{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .newappbutton{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


